{{#if changingZip}}
{{view Ember.TextField valueBinding="zip" placeholder="zip code"}}
<input type="button" {{action saveZip}} value="Save"></input>
{{else}}
Zip Code: {{zip}} <a {{action changeZip}}>Change</a>
{{/if}}
<hr/>

{{render 'slots'}}

{{#if isReady}}
  <input type="button" {{action spin}} value="Spin"></input>
{{/if}}

{{#if isSpinning}}
  <input type="button" {{action stop}} value="Stop"></input>
{{/if}}

{{#if isDone}}
  <input type="reset" {{action reset}} value="Try Again"></input>
{{/if}}